<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
	<h2>What is Redditer?</h2>
	<hr>
	<i><b>Redditer</b> is an application created by William Yang and Edmond Wu. It aims to create a network for users based on subreddits, and allows them to message other users who share similar subreddit interests.</i>
    </div>
    <div class="col-md-3"></div>
</div>
